<.menu_header title="About">
    <:logo_block>
      <.logo />
    </:logo_block> 
    <:search_block>
      <.search_bar text="Search" />
    </:search_block>
    <:button_block>
      <.custom_button text="Join" />
    </:button_block>
</.menu_header>